<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanke.foodie.dao.OrderDao">

    <insert id="addOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.lanke.foodie.entity.Order"  >
        insert
        into
        fd_order
        (
        order_no,
        table_num,
        order_status,
        cost,
        shop_id,
        create_time
        )
        values
        (
        #{orderNo},
        #{tableNum},
        #{orderStatus},
        #{cost},
        #{shopId},
        #{createTime}
        )
    </insert>
    <insert id="addOrderItem">
        insert
        order_item
        (
        dish_id,
        dish_num,
        total_cost,
        order_id,
        create_time
        )
        values
        (
        #{dishId},
        #{dishNum},
        #{totalCost},
        #{orderId},
        #{createTime}
        )
    </insert>
    <select id="findAllOrder" resultType="com.lanke.foodie.entity.Order" >
        select
        *
        from
        fd_order
        where
        shop_id = #{shopId}
        order by id desc
    </select>
    <select id="findOrderByTime" parameterType="com.lanke.foodie.dto.FindOrderParamsDto" resultType="com.lanke.foodie.entity.Order" >
         SELECT
            *
            FROM
            fd_order
            WHERE
            create_time  BETWEEN
            #{fromTime}
            AND
             #{toTime}
            and  shop_id = #{shopId}

    </select>
    <select id="findOrderItem" resultType="com.lanke.foodie.dto.OrderItemDto">
        SELECT * FROM order_item
        inner JOIN dish
        ON order_item.dish_id=dish.id WHERE order_item.order_id= #{orderId} and dish.shop_id = #{shopId}
    </select>


</mapper>