<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanke.foodie.dao.DetailDao">

    <insert id="addShop">
        insert
        into
        shop
        (
        username,
        password,
        shop_name,
        shop_type_id,
        shop_city,
        shop_address,
        shop_email,
        shop_phone,
        shop_status,
        photo_url,
        business_photo,
        pay_photo,
        operate_status,
        idcard_photo,
        create_time
        )
        values
        (
        #{username},
        #{password},
        #{shopName},
        #{shopTypeId},
        #{shopCity},
        #{shopAddress},
        #{shopEmail},
        #{shopPhone},
        #{shopStatus},
        #{photoUrl},
        #{businessPhoto},
        #{payPhoto},
        #{operateStatus},
        #{idcardPhoto},
        #{createTime}
        )
    </insert>



    <insert id="addShopDetails">
        insert
        into
        shop_detail
        (
        shop_id,
        shop_intro,
        shop_notice,
        longitude,
        latitude,
        shop_mark,
        comment_num,
        shop_sales,
        money_off_ids,
        shop_photo1,
        shop_photo2,
        shop_photo3,
        shop_photo4,
        shop_photo5,
        create_time
        )
        values
        (
        #{shopId},
        #{shopIntro},
        #{shopNotice},
        #{longitude},
        #{latitude},
        #{shopMark},
        #{commentNum},
        #{shopSales},
        #{moneyOffIds},
        #{shopPhoto1},
        #{shopPhoto2},
        #{shopPhoto3},
        #{shopPhoto4},
        #{shopPhoto5},
        #{createTime}
        )
    </insert>

    <insert id="addShopType">
        insert
        into
        shop_type
        (
        type_name,
        create_time
        )
        values
        (
        #{typeName},
        #{createTime}
        )
    </insert>


    <select id="checkUsername" resultType="int">
        select
        count(*)
        from
        shop
        where
        username = #{username}
    </select>
    <select id="checkShopName" resultType="int">
        select
        count(*)
        from
        shop
        where
        shop_name = #{shopName}
    </select>
    <update id="updateShop">
        update
        shop
        set
        shop_name = #{shopName},
        password = #{password},
        shop_type_id = #{shopTypeId},
        shop_city = #{shopCity},
        shop_address = #{shopAddress},
        shop_email = #{shopEmail},
        shop_phone = #{shopPhone},
        photo_url = #{photoUrl},
        pay_photo = #{payPhoto}
        where
        id = #{id}
    </update>
    <update id="updateShopDetails">
        update
        shop_detail
        set
        shop_intro = #{shopIntro},
        shop_notice = #{shopNotice},
        longitude = #{longitude},
        latitude = #{latitude},
        money_off_ids = #{moneyOffIds},
        shop_photo1 = #{shopPhoto1},
        shop_photo2 = #{shopPhoto2},
        shop_photo3 = #{shopPhoto3},
        shop_photo4 = #{shopPhoto4},
        shop_photo5 = #{shopPhoto5},
        create_time = #{createTime}
        where
        shop_id = #{shopId}
    </update>
    <update id="updateDiscountDetails">
        update
        shop_detail
        set
        shop_notice = #{shopNotice},
        money_off_ids = #{moneyOffIds},
        where
        shop_id = #{shopId}
    </update>
    <select id="getShopById" resultType="Shop">
        select
        *
        from
        shop
        where
        id = #{id}
    </select>
    <select id="getShopStatusById" resultType="int">
        select
        shop_status
        from
        shop
        where
        id = #{id}
    </select>
    <select id="getShopDetailsById" resultType="ShopDetails">
        select
        *
        from
        shop_detail
        where
        shop_id = #{shopId}
    </select>

    <select id="checkShopNameForUpdate" resultType="int">
        select
        id
        from
        shop
        where
        shop_name = #{shopName}
    </select>

    <select id="getNameAndIdByUsername" resultType="com.lanke.foodie.dto.ShopNameAndIdDto">
        select
        id,shop_name
        from
        shop
        where
        username = #{username}
    </select>

    <select id="findAllShop" resultType="com.lanke.foodie.entity.Shop">
        SELECT id,shop_name,shop_city,shop_phone,shop_status,operate_status FROM shop
       WHERE   username like '%${value}%' or shop_name like '%${value}%'
    </select>


    <delete id="deleteShop" >
       delete from shop
       where id = #{id}
    </delete>

    <delete id="deleteShopDetails" >
       delete from shop_detail
       where shop_id = #{shopId}
    </delete>

    <update id="updateShopStatus" >
      update shop set shop_status = 1 where id = #{id}
    </update>
    <update id="updateOperaterStatus" >
      update shop set operate_status = #{value} where id = #{id}
    </update>
    <select id="getOperaterStatus" resultType="int" >
        SELECT operate_status FROM shop
        where  id = #{id}
    </select>

    <select id="findShopByStatus" resultType="com.lanke.foodie.entity.Shop" >
        SELECT id,shop_name,shop_city,shop_phone,shop_status,operate_status FROM shop
        where shop_status = #{shopStatus} and operate_status = #{operateStatus}
    </select>
    <select id="findShopByStatusAndCity" resultType="com.lanke.foodie.entity.Shop">
        SELECT id,shop_name,shop_city,shop_phone,shop_status,operate_status FROM shop
        where shop_status = #{shopStatus} and  operate_status = #{operateStatus} and shop_city= #{shopCity}
    </select>

    <select id="findPayPhoto" resultType="String">
        SELECT pay_photo FROM shop
        where id = #{id}
    </select>

    <select id="getPassword" resultType="String">
        SELECT password FROM operater
        where username = #{username}
    </select>

    <select id="getShopPassword" resultType="String">
        SELECT password FROM shop
        where username = #{username} and shop_status=1
    </select>

    <select id="checkShopType" resultType="int">
        select
        count(*)
        from
        shop_type
        where
        type_name=#{typeName}
    </select>
    <select id="findAllShopType" resultType="com.lanke.foodie.entity.ShopType" >
        select
        *
        from
        shop_type
    </select>
    <delete id="delShopTypeById"  parameterType = "String">
        delete
        from
        shop_type
        where
        id in
        ${ids}
    </delete>
    <select id="getIfShopByTypeId" resultType="int">
        select
        count(*)
        from
        shop
        where
        shop_type_id
        in
        ${ids}

    </select>

    <select id="getShopNameById" resultType="String">
        select
        shop_name
        from
        shop
        where
        id = #{id}
    </select>
    <select id="getIdAndCityByUsername" resultType="com.lanke.foodie.dto.ShopIdAndCityDto">
        select
        id,username,shop_city
        from
        shop
        where
        username = #{username}
    </select>

</mapper>