<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanke.foodie.dao.DetailDao">

    <insert id="addShop">
        insert
        into
        shop
        (
        username,
        password,
        shop_name,
        shop_address,
        shop_email,
        shop_phone,
        shop_status,
        shop_notice,
        photo_url,
        business_photo,
        pay_photo,

        idcard_photo,
        create_time
        )
        values
        (
        #{username},
        #{password},
        #{shopName},
        #{shopAddress},
        #{shopEmail},
        #{shopPhone},
        #{shopStatus},
        #{shopNotice},
        #{photoUrl},
        #{businessPhoto},
        #{payPhoto},

        #{idcardPhoto},
        #{createTime}
        )
    </insert>

    <!--<insert id="addPay" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert-->
        <!--into-->
        <!--pay_detail-->
        <!--(-->
        <!--mch_id,-->
        <!--api_key,-->
        <!--create_time-->
        <!--)-->
        <!--values-->
        <!--(-->
        <!--#{mchId},-->
        <!--#{apiKey},-->
        <!--#{createTime}-->
        <!--)-->

    <!--</insert>-->
    <select id="checkUsername" resultType="int">
        select
        count(*)
        from
        shop
        where
        username = #{username}
    </select>
    <select id="checkShopName" resultType="int">
        select
        count(*)
        from
        shop
        where
        shop_name = #{shopName}
    </select>
    <update id="updateShop">
        update
        shop
        set
        shop_name = #{shopName},
        shop_address = #{shopAddress},
        shop_email = #{shopEmail},
        shop_phone = #{shopPhone},
        shop_notice = #{shopNotice},
        photo_url = #{photoUrl},
        pay_photo = #{payPhoto}
        where
        id = #{id}
    </update>
    <!--<update id="updatePay">-->
        <!--update-->
        <!--pay_detail-->
        <!--set-->
        <!--mch_id = #{mchId},-->
        <!--api_key = #{apiKey}-->
        <!--where-->
        <!--id = #{payDetailId}-->
    <!--</update>-->
    <select id="getShopById" resultType="Shop">
        select
        *
        from
        shop
        where
        id = #{id}
    </select>
    <!--<select id="getShopDetailById" resultType="PayDetail">-->
        <!--select-->
        <!--*-->
        <!--from-->
        <!--pay_detail-->
        <!--where-->
        <!--id = #{id}-->
    <!--</select>-->
    <select id="checkShopNameForUpdate" resultType="int">
        select
        id
        from
        shop
        where
        shop_name = #{shopName}
    </select>

    <select id="getNameAndIdByUsername" resultType="com.lanke.foodie.dto.ShopNameAndIdDto">
        select
        id,shop_name
        from
        shop
        where
        username = #{username}
    </select>

    <!--<select id="getAuthorityByUsername" resultType="String">-->
        <!--select-->
        <!--authority-->
        <!--from-->
        <!--shop-->
        <!--where-->
        <!--username = #{username}-->
    <!--</select>-->


    <select id="findAllShop" resultType="com.lanke.foodie.entity.Shop">
        SELECT * FROM shop
       WHERE   username like '%${value}%' or shop_name like '%${value}%'
    </select>


    <delete id="deleteShop" >
       delete from shop
       where id = #{id}
    </delete>

    <update id="updateStatus" >
      update shop set shop_status = 1 where id = #{id}
    </update>

    <select id="findPayPhoto" resultType="String">
        SELECT pay_photo FROM shop
        where id = #{id}
    </select>

    <select id="getPassword" resultType="String">
        SELECT password FROM operater
        where username = #{username}
    </select>
</mapper>