<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanke.foodie.dao.DishesDao">

    <insert id="addDishType" parameterType="com.lanke.foodie.entity.DishType">
        insert
        into
        dish_type
        (
        name,
        shop_id,
        create_time
        )
        values
        (
        #{name},
        #{shopId},
        #{createTime}
        )
    </insert>


    <insert id="addDish" parameterType="com.lanke.foodie.entity.Dish">
        insert
        into
        dish
        (
        name,
        price,
        introduction,
        remark,
        photo_url,
        type_id,
        create_time
        )
        values
        (
        #{name},
        #{price},
        #{introduction},
        #{remark},
        #{photoUrl},
        #{typeId},
        #{createTime}
        )
    </insert>
    <select id="findAllDishType" resultType="com.lanke.foodie.entity.DishType" >
        select
        *
        from
        dish_type
        where
        shop_id = #{shopId}
    </select>
    <select id="checkDishType" resultType="int">
        select
        count(*)
        from
        dish_type
        where
        shop_id = #{shopId} and name=#{name}
    </select>
    <select id="checkDishes" resultType="int">
        select
        count(*)
        from
        dish
        where
        name=#{name}
    </select>
    <delete id="delDishTypeById">
        delete
        from
        dish_type
        where
        id = #{id}
    </delete>
</mapper>