<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanke.foodie.dao.DishesDao">

    <insert id="addDishType" parameterType="com.lanke.foodie.entity.DishType">
        insert
        into
        dish_type
        (
        type_name,
        shop_id,
        create_time
        )
        values
        (
        #{typeName},
        #{shopId},
        #{createTime}
        )
    </insert>


    <insert id="addDish" parameterType="com.lanke.foodie.entity.Dish">
        insert
        into
        dish
        (
        name,
        price,
        introduction,
        remark,
        photo_url,
        type_id,
        create_time,
        shop_id
        )
        values
        (
        #{name},
        #{price},
        #{introduction},
        #{remark},
        #{photoUrl},
        #{typeId},
        #{createTime},
        #{shopId}

        )
    </insert>
    <select id="findAllDishType" resultType="com.lanke.foodie.entity.DishType" >
        select
        *
        from
        dish_type
        where
        shop_id = #{shopId}
    </select>

    <select id="checkDishType" resultType="int">
        select
        count(*)
        from
        dish_type
        where
        shop_id = #{shopId} and type_name=#{typeName}
    </select>
    <select id="checkDishes" resultType="int">
        select
        id
        from
        dish
        where
        name=#{name} and
        shop_id=#{shopId}
    </select>
    <delete id="delDishTypeById"  parameterType = "String">
        delete
        from
        dish_type
        where
        id in
        ${ids}
    </delete>

    <delete id="delDishById"  parameterType = "String">
        delete
        from
        dish
        where
        id in
        ${ids}
    </delete>
    <select id="getDishById" resultType="Dish">
        select
        *
        from
        dish
        where
        id = #{id}
    </select>
    <select id="findAllDishes" resultType="com.lanke.foodie.dto.DishesDto">
        SELECT * FROM dish
        inner JOIN dish_type
        ON dish.type_id=dish_type.id WHERE dish.shop_id= #{shopId} and (type_name like '%${value}%' or name like '%${value}%')
    </select>
    <update id="updateDish">
        update
        dish
        set
        name = #{name},
        price = #{price},
        introduction = #{introduction},
        remark = #{remark},
        photo_url = #{photoUrl},
        type_id = #{typeId},
        create_time = #{createTime}
        where
        id = #{id}
    </update>
    <select id="getIfDishByTypeId" resultType="int">
        select
        count(*)
        from
        dish
        where
        shop_id = #{shopId}
        and
        type_id
        in
        (${ids})

    </select>
</mapper>